* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #242424;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}